@media only screen and (max-width: 600px) {
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.heading {
    font-family: 'Roboto Slab', serif;
    color: #C8AE67;
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
}

/* Navigation Bar */

.navigation-bar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3A4A48;
    height: 3rem;
}

.nav-flower {
    opacity: 70%;
}

.nav-flower1 {
    margin: 0;
    padding: 0;
    height: 35vw;
    transform: rotate(100deg);
}

#nav-flower2 {
    height: 28vw;
    transform: rotate(270deg) scaleX(-1);
}

.logo {
    height: 5vh;
}

/* Menu */

.nav-menu {
    display: block;
    cursor: pointer;
}

#navigation-bar span {
    display: block;
    background-color: white;
    height: .2em;
    width: 2em;
    border-radius: 1em;
    margin-bottom: .3em;
}

nav > ul {
    margin: 0;
    list-style-type: none;
}

nav > ul > li > ul {
    background-color: rgba(58, 74, 72, 0.9);
    width: 100%;
    position: absolute;
	display: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav > ul > li > ul > li {
    
    list-style-type: none;
}

nav > ul > li > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li:focus > ul {
	display: block;
}

nav > ul > li > ul > li:hover > a {
	text-decoration: underline;
    color: rgb(255, 255, 255);
}

/* Video */

#Video {
    width: 100%;
}



#welcome {
    font-size: 9vw;
    text-align: center;
    margin-top: -35%;
    position: relative;
    text-shadow: 2px 2px 2px rgb(70, 70, 70);
}

/* Intro */

.paragraph {
    color: black;
    font-size: 3vw;
    line-height: 4.5vw;
    letter-spacing: 0.1vw;
}
#story-text {
    width: 60vw;
    margin-left: 15%; 
}
#flower3 {
    width: 50vw;
    opacity: 15%;
    margin-left: 8%;
    position: absolute;
}
#story {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 25%;
}

/* Food */

#zigzag1 {
    transform: rotate(180deg);
    position: absolute;
    margin-top: -1px;
    width: 100%;
}
#food {
    background:#d9d9d9;
    padding-bottom: 40px;
}
#food>h2 {
    color: black;
    text-align: center;
    padding-top: 30px;
}
#food>div {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 20px;
    justify-content: center;
}
.food-pic {
    width: 25vw;
    height: 30vw;
    object-fit: cover;

}

/* Sources */
#locally-sourced {
    display: grid;
    grid-template-columns: 40% 60%;
}
#locally-text {
    width: 55vw;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 9%;
}
#flower4 {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
    object-position: right;
    opacity: 15%;
    position: absolute;
    margin-top: 0;
}

/* Services 8*/

#services {
    background-color: #d9d9d9;
    background-image: url("images/services-flower.png");
    background-size: 75%;
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 540px;
}
#services-content {
    display: grid;
    float: right;
    width: 90vw;
    height: 540px;
    grid-template-columns: 50% 50%;
}
#services-text {
    padding-right: 5%;
    padding-bottom: 5%;
}
#services-text>h2 {
    color: #3A4A48;
    margin-bottom: -5%;
    margin-top: 3%;
}
#services-pic {
    width: 45vw;
    height: 540px;
    object-fit: cover;
}
#history {
    background-color: #d9d9d9;
    background-image: url("images/history-flower.png");
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
}
#history-content {
    display: grid;
    width: 90vw;
    height: 540px;
    grid-template-columns: 50% 50%;
}
#history-text {
    padding-left: 10%;
}
#history-text>h2 {
    color: #3A4A48;
    margin-bottom: -5%;
    margin-top: 5%;
}
#history-pic {
    width: 45vw;
    height: 540px;
    object-fit: cover;
}
#contact {
    background-color: #3A4A48;
}
#contact-text {
    margin-left: 55%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#contact-text>h2 {
    margin-top: 0;
    color: white;
}
#contact-text>p {
    color: white;
}
#contact-text>p::first-line {
    font-weight: bold;
}
#flower6 {
    width: 50vw;
    opacity: 60%;
    position: absolute;
    transform: rotate(115deg) scaleX(-1);
    margin-top: -13%;
    margin-left: -15%;
}
footer {
    background-color: #d9d9d9;
}
footer>h1 {
    font-family: 'Roboto Slab', serif;
    color: #C8AE67;
    font-size: 7vw;
    letter-spacing: 0.1vw;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
}
}